.Title-Container-1{
    position: relative;
    width: 500px;
    max-width: 500px;
    left: 50%;
    margin-left: -350px;
}

.Title-Container-2{
    margin-top: -50px;
    position: relative;
    width: 500px;
    max-width: 500px;
    left: 50%;
    margin-left: -550px;
    margin-bottom: 300px;
}

.text-Container-1{
    left: -130px;
    position: relative;
    max-width: 500px;
    margin:auto;
    margin-bottom: 20px;
}
.text-Container-2{
    left: -100px;
    position: relative;
    max-width: 500px;
    margin:auto;
    margin-bottom: 20px;
}
.text-Container-3{
    position: relative;
    max-width: 500px;
    margin:auto;
    margin-bottom: 20px;
}

.BTN-container{
    flex-direction: row;
}