<div class="Title-Container-1">
  <app-main-page-title2 text="CONGRATULATIONS"></app-main-page-title2>
</div>
<div class="Title-Container-2">
  <app-main-page-title2
    text="YOU’VE JUST PUBLISHED YOUR ITEM!"
  ></app-main-page-title2>
</div>

<div class="text-Container-1">
  <app-small-text-template
    Text="  Your item is now live on MORDI'S and ready for a new home,"
  ></app-small-text-template>
</div>
<div class="text-Container-2">
  <app-small-text-template
    Text=" Thanks for supporting the green consuming movement,"
  ></app-small-text-template>
</div>

<div class="text-Container-3">
  <app-small-text-template
    Text="Your contribution makes a difference."
  ></app-small-text-template>
</div>
<div class="BTN-container">
<app-form-continue-btn text="HOMEPAGE"></app-form-continue-btn>
<app-form-continue-btn text="GO TO MY PROFILE" color="white"></app-form-continue-btn>
</div>