<div>
  <span>
    <h1>WELCOM TO</h1>
  </span>
  <span>
    <img src="../assets/Images/Inlogopic.png" alt="MORDI'S" class="logo" />
  </span>
</div>

<span class="text">
    Discover hidden gems and unique finds at MORDI’S, your online destination for pre-owned fashion, electroncis, and home décor.
    <br> 
    <br> 
    Our curated community driven selection offers endless possibilities for stylish, budget-friendly shopping.
    <br> 
    <br> 
   Find what you're looking for, or something you didn't know you needed, all while supporting a more sustainable future.
  </span>

  <span>
    <table>
        <tr>
            <th>Company</th>
            <th>Contact</th>
            <th>Country</th>
          </tr>
          <tr>
            <td>Alfreds Futterkiste</td>
            <td>Maria Anders</td>
            <td>Germany</td>
          </tr>
          <tr>
            <td>Centro comercial Moctezuma</td>
            <td>Francisco Chang</td>
            <td>Mexico</td>
          </tr>
    </table>
  </span>