.search-bar {
    width: 132px;
    height: 50px;
    margin: 15px 10px 35px 15px;
    padding: 9px 10px 9.7px 7.8px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #aeb2aa;
    background-color: #e6ebe0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Search {
    width: 61px;
    height: 23px;
    margin: 5px 18px 6px 0;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(60, 60, 60, 0.7);
  }

  .image {
    width: 34px;
    height: 34px;
    margin: 0 0 0 18px;
  }