@import '../../../../styles.scss';
.text {
    width: 1000px;
    position: relative;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: $Small-Text-Color;
    display: flex;
  }
  