@import '../../../../styles.scss';
.text{  
    width: 722px;
    height: 308px;
    margin: 34px 101px 42px 138px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    text-align: left;
    color: $Small-Text-Color;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: center;
}