@import '../../../../styles.scss';

.frame {
    width: 125px;
    height: 36px;
    margin: 12px 10px 35px 15px;

  }


.inside {
    width: 150px;
    height: 41px;
    padding: 1%;
    text-shadow: 0 0 10px $Default-Text-Shadow;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    color: $Default-Text-Color;
  }