.frame {
    width: 125px;
    height: 36px;
    margin: 20px;
    margin: 20px 10px 35px 15px;

  }


.inside {
    width: 150px;
    height: 41px;
    padding: 1%;
    text-shadow: 0 0 10px #aeb2aa;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 600;
    color: #3c3c3c;
  }