.parent-container {
    display: flex;
    align-items: center; /* optional: align items vertically in the center */
  }
  
  .logo {
    width: 230px;
    height: auto;
    margin: -10px -100px 0px -35px; /* optional: add some space between elements */
  }
  