.parent-container {
    display: flex;
    align-items: center;
    margin-bottom: -30px;
    margin-top: 80px;
    position: relative;
    width: 500px;
    max-width: 500px;
    margin: auto;
    left: 50%;
    margin-left: -650px;
  }
  
  .logo {
    width: 230px;
    height: auto;
    margin: -10px -100px 0px -35px;
  }
  
  .circles-container {
    position: absolute;
    display: flex;
    align-items: center;
  }
  
  .app-progress-circles {
    margin-right: 20px;
  }
  
  div > app-form {
    width: 100%;
  }
  
  .form {
    margin-top: 80px;
    position: relative;
    width: 500px;
    max-width: 500px;
    margin: auto;
    left: 50%;
    margin-left: -250px;
  }
  
  
  .button{
    margin-top: 80px;
    position: relative;
    width: 300px;
    max-width: 300px;
    margin: auto;
    left: 51%;
    margin-left: -150px;
 }
  
  .subtext{
    margin-top: 80px;
    position: relative;
    max-width: 500px;
    margin: auto;
    left: 50%;
    margin-left: -500px;
  }
  
  
.all-container{
    display: flex;
}
