<div class="parent-container">
    <app-main-page-title2 [text]="semititle1text"></app-main-page-title2>
  </div>
  <div class="subtext">
      <app-small-text-template [Text]="subtitletext1"></app-small-text-template>
      <app-small-text-template [Text]="subtitletext2"></app-small-text-template>
  </div>
  <div class="all-container">
      <div class="circles-container">
        <app-progress-circles [MarkedCircle]="2"></app-progress-circles>
        </div>
        <div class="form">
          <app-add-images-form></app-add-images-form>
        </div>
  </div>
  <div class="button">
      <app-form-continue-btn (click)="submitForm()"> </app-form-continue-btn>
    </div>