<div class="container">
  <div class="image-box">
    <img [src]="imageSrc" alt="No image src detected" [routerLink]="routerlink" />
  </div>
  <div class="details-box">
    <span class="name">
      {{ name }}
    </span>
    <span class="description">
      {{ description }}
    </span>
    <span class="date">
      {{ date }}
    </span>
    <span class="location">
      {{ location }}
    </span>
    <span class="price">
      {{ price }}
    </span>
    <span class="BUY"> BUY </span>
    <span class="more-"> more > </span>
  </div>
</div>
