<div class="item-frame">
  <div class="Image-Container">
    <img [src]="Image" class="Image" [routerLink]="routerlink"/>
    <!-- <img [src]="Image" class="Image" [routerLink]="['/item', id]"/> -->
    <div class="Heart-Container">
      <img src="../assets/SVG's/heart-svgrepo-com.svg" class="Heart" />
    </div>
  </div>
  <span class="product-name"> {{ Title }} </span>
  <span class="Date"> {{ PostDate }} </span>
  <div class="description-container">
    <span class="description"> {{ Desc }} </span>
  </div>
  <span class="price"> {{ Price }}$ </span>
  <button class="BUY-BTN">
    <span class="BUY">
      BUY
    </span>
  </button>
  <span class="more"> More </span>
</div>