<div>
  <span class="title">
    {{ semititletext }}
  </span>
  <app-small-text-template [Text]="smalltext1"></app-small-text-template>
</div>
<div>
  <div class="Main-Picture">
    <span class="plus"> + </span>
    <div class="text-container">
      <span class="plus-text"> Click on the plus </span>
      <br />
      <br />
      <span class="plus-text"> or </span>
      <br />
      <br />
      <span class="plus-text"> Drag your pic here </span>
    </div>
  </div>
  <div class="Line"></div>
  <div>
    <app-small-text-template [Text]="smalltext2"></app-small-text-template>
  </div>
  <div class="image-box-container">
    <span class="mini-picture"> 
        <a class="small-plus"> + </a>
    </span>
    <span class="mini-picture"> 
        <a class="small-plus"> + </a>
    </span>
    <span class="mini-picture"> 
        <a class="small-plus"> + </a>
    </span>
    <span class="mini-picture"> 
        <a class="small-plus"> + </a>
    </span>
    <span class="mini-picture"> 
        <a class="small-plus"> + </a>
    </span>
  </div>
</div>
