.Ellipse{
    width: 104px;
    height: 104px;
    padding: 16px 11px 16.8px 10px;
    background-color: #9bc1a8;
  }

  .Svg {
    width: 83px;
    height: 71.2px;
    flex-grow: 0;
    padding: 14.6px 32.7px 40.5px 34px;
    background-color: #e6ebe0;
  }