.maindiv {
    width: 100%;
    height: 65px;
    margin: 0 0 54px;
    padding: 20px 0 0;
    background-color: #e6ebe0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
    .Rectangle-28 {
      position:static;
      width: 100%;
      height: 5px;
      background-color: #9bc1a8;
      margin-top: -54px;

    }