@import '../../../../styles.scss';

.maindiv {
    width: 100%;
    height: 58px;
    margin: 0 0 54px;
    padding: 20px 0 0;
    background-color: $Navbar-Main-Color;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
    .Rectangle-28 {
      position:static;
      width: 100%;
      height: 5px;
      background-color: $Navbar-Secondary-Color;
      margin-top: -54px;

    }

    a{
      text-decoration: none;
    }