<div class="maindiv">
  <a routerLink="/Home">
    <app-nav-bar-logo></app-nav-bar-logo>
  </a>
  <a routerLink="/Clothing">
    <app-nav-bar-clothing></app-nav-bar-clothing>
  </a>
  <a routerLink="/Electronics">
    <app-nav-bar-electronics></app-nav-bar-electronics>
  </a>
  <a routerLink="/Furniture">
    <app-nav-bar-furniture></app-nav-bar-furniture>
  </a>
  <a routerLink="/Other">
    <app-nav-bar-other></app-nav-bar-other>
  </a>
  <a routerLink="/Home">
    <app-navbar-search></app-navbar-search>
  </a>
  <a routerLink="/Home">
    <app-navbar-heart></app-navbar-heart>
  </a>
  <a routerLink="/Home">
    <app-navbar-man></app-navbar-man>
  </a>
  <a routerLink="/NewListing1">
    <app-navbar-add-listing></app-navbar-add-listing>
  </a>

</div>
<div class="Rectangle-28"></div>

