@import '../../../../styles.scss';

h1{
    width: 1000px;
    height: 59px;
    margin: 36px 14px 51px 138px;
    font-family: Roboto;
    font-size: $large-font-size;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $Default-Text-Color; 
}
div{
    display: flex;    
}
