.frame {
    width: 36px;
    height: 36px;
    margin: 15px 10px 35px 15px;
    padding: 9px 10px 9.7px 7.8px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #aeb2aa;
    background-color: #e6ebe0;
  }
  
    .image {
        width: 50px;
        height: 50px;
        margin-top: -5px;
        margin-left: -5px;
      }
  