// Text
$Default-Text-Color:#3c3c3c;
$Default-Text-Shadow:#aeb2aa;
$Small-Text-Color: #666;

// NavBar
$Navbar-Main-Color:#e6ebe0;
$Navbar-Secondary-Color:#9bc1a8;
$Box-shadow-color: #aeb2aa;
$Box-background-color: #e6ebe0;

// Icons
$Icons-Main-Color:#9bc1a8;
$Icons-Secondary-Color:#e6ebe0;

// Global
$primary-color: #e6ebe0;
$secondary-color: #9bc1a8;
$third-color: #3c3c3c;

$success-color: #416609;
$failed-color: #FF0000;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;

// Font sizes
$small-font-size: 12px;
$medium-font-size: 30px;
$large-font-size: 50px;

// Other values
$border-radius: 5px;
$max-content-width: 1200px;

body{
    background-color: #e6ebe0;
}

// center formula:     left: calc(50% - (component width in px/2));  //mid